<p>posts-create works!</p>
<div class="contenedor">

    <form  class="form" [formGroup]="formsearchPosts" (ngSubmit)="searchUserId()">

        <label for="" class="name">Buscador</label>

        <input type="text" formControlName="userId" (blur)="searchUserId()" class="searchinput" placeholder="ingrese su busqueda">
        
        <p class="alert" *ngIf="statusSearchUserId">El userId que busca no se encuentra</p>

        <button class="boton">Buscar</button>
    
    </form>

</div>