<h1>Comments: List&Create</h1>
<a [routerLink]="['comments/comments-list']">Coments List</a>
<br>
<a [routerLink]="['comments/comments-create']">Coments Create</a>
<br>

<h1>Posts: List&Create</h1>
<a [routerLink]="['posts/posts-list']">Posts List</a>
<br>
<a [routerLink]="['posts/posts-create']">Posts Create</a>
<br>