<p>comments-list works!</p>
<div class="contenedor">
    
    <table >
        <tr>
       <th class="superior"> postId</th>
       <th class="superior"> Id</th>    
       <th class="superior"> Name</th>   
       <th class="superior"> Email</th>  
       <th class="superior"> Body</th> 
    </tr> 
    <tr *ngFor="let item of commentsList">
    <td class="inferior">{{ item.postId }}</td>
    <td class="inferior">{{ item.id }}</td>
    <td class="inferior">{{ item.name }}</td>
    <td class="inferior">{{ item.email }}</td>
    <td class="inferior">{{ item.body }}</td>

   
    </tr>
    </table>
   </div>