<p>posts-list works!</p>
<div class="contenedor">
    
    <table >
        <tr>
       <th class="superior"> UserId</th>
       <th class="superior"> Id</th>    
       <th class="superior"> Title</th>   
       <th class="superior"> Body</th> 
    </tr> 
    <tr *ngFor="let item of postsList">
    <td class="inferior">{{ item.userId }}</td>
    <td class="inferior">{{ item.id }}</td>
    <td class="inferior">{{ item.title }}</td>
    <td class="inferior">{{ item.body }}</td>

   
    </tr>
    </table>
   </div>